.container{
padding: 10px;
    margin: 2rem auto;
width: 80%;
height: 34rem;
border-radius: 10px;
border: 1px solid darkblue;
background: linear-gradient(0deg, rgba(196, 111, 159, 0.8), rgba(0, 0, 0, 0.3)), url('../asserts//quiz-container.jpg') no-repeat;
background-size: 100% 100%;
overflow: hidden;
}
.correct_answer{
    background-color: green;
    color: white;
}
.timer-contanier{
    padding: 10px;
        margin: 0 auto;
        width: 80%;
        height: 30rem;
        border-radius: 10px;
        border: none;
        background-color: transparent;
        overflow: hidden;
}